{% extends "base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}

<div class="login-container">

    <h2>Editar Usuario</h2>

    <form method="POST">

        <label>Username</label>
        <input type="text" name="username" value="{{ usuario.username }}" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Nueva contraseña">

        <label>Rol</label>
        <select name="rol">
            <option value="admin" {% if usuario.rol == 'admin' %}selected{% endif %}>Admin</option>
            <option value="usuario" {% if usuario.rol == 'usuario' %}selected{% endif %}>Usuario</option>
        </select>

        <button type="submit">Guardar cambios</button>

    </form>

</div>

{% endblock %}