/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #4CAF50;
}

/* VIDEO FONDO */
.video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* CENTRADO LOGIN */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN */
.login-container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2e7d32;
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

/* BOTÓN */
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #1b5e20;
}

/* RECORDAR */
.recordarme {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* RECUPERAR */
.recuperar {
    text-align: center;
    margin-top: 10px;
}

.recuperar a {
    color: #2e7d32;
}

/* TOPBAR */
.topbar {
    background: rgba(0,0,0,0.6);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PANEL */
.panel {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    height: 100%;
    background: #E5C84B;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 15px 0;
    font-weight: bold;
}

.sidebar a {
    color: white;
}

/* CONTENIDO */
.contenido {
    margin-left: 220px;
    padding: 40px;
}

/* TARJETAS */
.tarjetas {
    display: flex;
    gap: 20px;
}

.card {
    background: #C9D33A;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
}