{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="header">
        <h2>🌱 Gestión de Cultivos</h2>
        <a href="{{ url_for('cultivo.crear') }}" class="btn btn-crear">
            ➕ Nuevo Cultivo
        </a>
    </div>

    {% if cultivos %}
    <div class="tabla-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Días Cosecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for c in cultivos %}
                <tr>
                    <td>{{ c.id_cultivos }}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.tipo }}</td>
                    <td>{{ c.tiempo_cosecha_dias }}</td>
                    <td>
                        <a href="{{ url_for('cultivo.editar', id=c.id_cultivos) }}" class="btn btn-editar">✏️</a>
                        <a href="{{ url_for('cultivo.eliminar', id=c.id_cultivos) }}" class="btn btn-eliminar">🗑️</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>

{% endblock %}