{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<body>
<video autoplay muted loop class="video-fondo">
    <source src="static/img/video_fondo.mp4" type="video/mp4">
</video>
<header class="barra-superior">
    <h1>Panel del Administrador</h1>
    <div class="logo">
        <img src="static/img/LOGO.png" alt="logo">
    </div>
</header>

<main class="panel">

    <aside class="sidebar">
        <ul>
            <li>Mi perfil</li>
            <li>Dashboard</li>
            <li>Gestión de Cultivos</li>
            <li>Empleados</li>
            <li>Inventario</li>
            <li>Reportes</li>
            <li><a href="login.html">Cerrar Sesión</a></li>
        </ul>
    </aside>

    <section class="contenido">
        <h2 style="color: white;"></h2>

        <div class="tarjetas">

                <div class="card">
                    <a href="empleados.html">
                        <img src="static/img/empleado.jpg" alt="empleado">
                    </a>
                    <p>Empleados</p>
                </div>

                <div class="card">
                    <a href="cultivos.html">
                        <img src="static/img/cultivos.jpg" alt="cultivos">
                    </a>
                    <p>Cultivos</p>
                </div>

                <div class="card">
                    <a href="ganado.html">
                        <img src="static/img/ganado.jpg" alt="ganado">
                    </a>    
                    <p>Ganado</p>
                </div>

                <div class="card">
                    <a href="ventas o gastos.html">
                        <img src="static/img/ventas.jpg" alt="ventas">
                    </a>
                    <p>Ventas o gastos</p>
                </div>

                <div class="card">
                    <a href="agenda.html">
                        <img src="static/img/agenda.jpg" alt="agenda">
                    </a>
                    <p>Agenda</p>
                </div>

                <div class="card">
                    <a href="notificaciones.html">
                        <img src="static/img/notificaciones.jpg" alt="notificaciones">
                    </a>
                    <p>Notificaciones</p>
                </div>

        </div>
    </section>

</main>

{% endblock %}