{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<body>
    <video autoplay muted loop class="video-fondo">
        <source src="img/video_fondo.mp4" type="video/mp4">
    </video>

    <header class="topbar">
        <h1>Agenda</h1>
    </header>
    <button class="btn-volver"><a href="admin.html" class="a">Volver al Panel</a></button>

    <div class="contenido">
    <div class="contenido">

        <h2>Actividades programadas</h2>

        <ul>
            <li>Riego de cultivos</li>
            <li>Revisión del ganado</li>
            <li>Compra de fertilizantes</li>
        </ul>

    </div>

</body>
{% endblock %}