<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AgroGestión{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<!-- VIDEO DE FONDO -->
<video autoplay muted loop class="video-fondo">
    <source src="{{ url_for('static', filename='img/video_2.mp4') }}" type="video/mp4">
</video>

<!-- HEADER -->
<header class="H1">
    <h1>AGROGESTIÓN</h1>
</header>

<div class="panel">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('usuario.listar') }}">Usuarios</a></li>
            <li><a href="#">Cultivos</a></li>
            <li><a href="#">Inventario</a></li>
            <li><a href="#">Actividades</a></li>
            <li><a href="#">Producción</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
        </ul>
    </div>

    <!-- CONTENIDO -->
    <div class="contenido">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>