{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>Bienvenido, {{ session.get('username') }}</h2>

<div class="tarjetas">

    <div class="card">
        <img src="{{ url_for('static', filename='img/user.png') }}">
        <p>Usuarios</p>
        <a href="{{ url_for('usuario.listar') }}">
            <button>Ir</button>
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='img/cultivo.png') }}">
        <p>Cultivos</p>
        <a href="#">
            <button>Ir</button>
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='img/inventario.png') }}">
        <p>Inventario</p>
        <a href="#">
            <button>Ir</button>
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='img/actividad.png') }}">
        <p>Actividades</p>
        <a href="#">
            <button>Ir</button>
        </a>
    </div>

</div>

{% endblock %}