{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="topbar">
    <h1>AgroGestión</h1>
</div>

<div class="panel">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Inventario</a></li>
            <li><a href="#">Reportes</a></li>
        </ul>
    </div>

    <!-- CONTENIDO -->
    <div class="contenido">

        <h2 class="mb-4">Bienvenido, {{ session['usuario'] }}</h2>

        {% if session['rol'] == 'admin' %}
        <div class="mb-4">
            <a href="/register" class="btn btn-success">
                + Crear Usuario
            </a>
        </div>
        {% endif %}

        <div class="tarjetas">

            <div class="card">
                <img src="{{ url_for('static', filename='img/user.png') }}">
                <p>Gestión de Usuarios</p>
            </div>

        </div>

        <div class="mt-4">
            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
        </div>

    </div>

</div>

{% endblock %}