{% extends "base.html" %}

{% block content %}

<h2>Editar Usuario</h2>

<form method="POST">

Nombre
<input type="text" name="nombre" value="{{ usuario.nombre }}" required>

Documento
<input type="text" name="documento" value="{{ usuario.documento }}" required>

Correo
<input type="email" name="correo" value="{{ usuario.correo }}" required>

Usuario
<input type="text" name="username" value="{{ usuario.username }}" required>

Rol
<select name="rol">

<option value="admin" {% if usuario.rol=="admin" %}selected{% endif %}>Admin</option>

<option value="usuario" {% if usuario.rol=="usuario" %}selected{% endif %}>Usuario</option>

</select>

<br><br>

<button type="submit">Actualizar</button>

</form>

{% endblock %}