{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<body>
<video autoplay muted loop class="video-fondo">
    <source src="static/img/stock-footage-beautiful-aerial-view-of-green-agricultural-field-on-sunrise-drone-flying-over-harvest-crops.webm" type="video/mp4">
</video>
<header class="barra-superior">
    <h1>Panel del Empleado</h1>
    <div class="logo">
        <img src="static/img/LOGO.png" alt="logo">
    </div>
</header>

<main class="panel">

    <aside class="sidebar">
        <ul>
            <li>Perfil</li>
            <li>Mis tareas</li>
            <li>Reportar Actividad</li>
            <li>Reporte veterinario</li>
            <li><a href="login.html">Cerrar Sesión</a></li>
        </ul>
    </aside>

    <section class="contenido">
        <h2 style="color: white;">Tareas del Día</h2>

        <div class="tarjetas">

                <div class="card">
                    <img src="static/img/regar.jpg" alt="regar cultivo">
                    <p>Regar Cultivos</p>
                </div>

                <div class="card">
                    <img src="static/img/ganado.jpg" alt="ganado">
                    <p>Alimentar Ganado</p>
                </div>

                <div class="card">
                    <img src="static/img/reporte.jpg" alt="informe">
                    <p>Informe Semanal</p>
                </div>

        </div>
        
        
    </section>

</main>

</body>
{% endblock %}