{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<body>
    <video autoplay muted loop class="video-fondo">
        <source src="static/img/video_fondo.mp4" type="video/mp4">
    </video>
    <header class="topbar">
        <h1>Notificaciones</h1>
    </header>
    <button class="btn-volver"><a href="admin.html" class="a">Volver al Panel</a></button>
    <div class="contenido">

        <h2>Alertas del sistema</h2>

        <p>No hay notificaciones nuevas.</p>

    </div>

</body>
{% endblock %}