{% extends "base.html" %}

{% block content %}
<h2>Nueva Actividad</h2>

<form method="POST">

    <label>Descripción:</label>
    <input type="text" name="descripcion"><br>

    <label>Fecha:</label>
    <input type="date" name="fecha"><br>

    <label>Cultivo:</label>
    <select name="id_cultivo" required>
    <option value="" disabled selected>-- Seleccione un cultivo --</option>
    {% for c in cultivos %}
        <option value="{{ c.id_cultivos }}">{{ c.nombre }}</option>
    {% endfor %}
</select>

    <button type="submit">Guardar</button>

</form>
{% endblock %}