{% extends "base.html" %}

{% block content %}
<h2>Editar Actividad</h2>

<form method="POST">

    <label>Descripción:</label>
    <input type="text" name="descripcion" value="{{ actividad.descripcion }}" required><br>

    <label>Fecha:</label>
    <input type="date" name="fecha" value="{{ actividad.fecha }}" required><br>

    <label>Cultivo:</label>
    <select name="id_cultivo" required>
        <option value="" disabled>Seleccione un cultivo</option>
        {% for c in cultivos %}
            <option value="{{ c.id_cultivos }}"
                {% if c.id_cultivos == actividad.id_cultivo %}selected{% endif %}>
                {{ c.nombre }}
            </option>
        {% endfor %}
    </select><br>

    <button type="submit">Actualizar</button>

</form>

<a href="{{ url_for('actividades.listar') }}">⬅ Volver</a>
{% endblock %}