{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <div class="card-body">

        <h3 class="mb-4">Editar Producto</h3>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" name="nombre" value="{{ inventario.nombre }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad</label>
                <input type="number" name="cantidad" value="{{ inventario.cantidad }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Unidad</label>
                <input type="text" name="unidad" value="{{ inventario.unidad }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="number" step="0.01" name="precio" value="{{ inventario.precio }}" class="form-control" required>
            </div>

            <button class="btn btn-primary">Actualizar</button>
            <a href="{{ url_for('inventario.listar') }}" class="btn btn-secondary">Cancelar</a>

        </form>

    </div>
</div>
{% endblock %}